body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}



.mainvisit{
    width: cover;
    height: 2000px;
    background-image: url(./Images/roberto-nickson-396152_11zon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-about{
    width: cover;
    height: 2000px;
    background-image: url(./Images/ABOUT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.maingetinvolved{
    background-image: url(./Images/GETINVOLVED200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2000px;
    background-color: #CF8AF2;
}

.new-home-maine{
    width: cover;
}

.exi-pic{
    display: flex;
    max-width: 100%;
}

.exibition-h1-box{
    position: relative;
    text-align: center;
    color:#E4E4E4;
}

.our-exi-h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 50px;
    padding: 50px;
    border-radius: 20px;
    } 


.new-home-picture{
    display: flex;
   width: 100%;
   height: auto;
   margin-bottom: 40px;
}

.new-home-box{
    position: relative;
    text-align: center;
    color: #FC7C61;
}
.new-home-h1{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:20px;
    right: 160px;
    font-size: 120px;
}

.news-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.kids-box{
    display: flex;     
}

.kids-img{
    display: flex;
    justify-content: space-evenly;
    max-width: 100% auto;
}
.kids-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 2500px;
    color:#000000;
    background-color:#FEC182;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: darkgray 10px 10px 10px 10px;
}

.vist-alt-img{
    visibility: hidden;
}

.teacher-box{
    display: flex;
}

.teacher-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 2500px;
    color: #000000;
    background-color: #49BA99;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: darkgray 10px 10px 10px 10px;
}

.kids-p ,.researchers-p ,.teacher-p{
    font-size: 25px;
}

.researchers-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 2500px;
    color: #000000;
    background-color:#FC7C61;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: darkgray 10px 10px 10px 10px;
}

.researchers-box{
    display: flex;
}
.h1-box{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.h1-index{
    font-size: 70px;
    background-color: #CF8AF2;
    padding: 20px;
    box-shadow: darkgray 10px 10px 10px 10px;
}

.h1-explore{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.explore-head{
    display: flex;
    justify-content: center;
    font-size: 70px;
    background-color:#FC7C61;
    padding: 20px;   
    box-shadow: darkgray 10px 10px 10px 10px;
}

.news1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:#CF8AF2 solid 10px;
    margin: 5px;
    padding: 10px;
    background-color:white;
   
}

.news-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
}

.figure-image{ 
    display: flex;
    align-items: center
}

.news1-h2{
    font-size: 40px;
    text-align: center;

}

.news1-p{
    font-size: 25px;    
}

.anav:hover{
    color: #CF8AF2;
}

.h1getinvolved {
    font-size: 40px;
    text-decoration:overline underline;
    color:#000000;
    text-decoration-thickness: 7px;
    text-decoration-color: #CF8AF2;
}

.h2support ,.internship ,.voulenteer{
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color:#FEC182;
    text-decoration-thickness: 7px;   
}

.body-home{
    background-color:  #CF8AF2;
}


.headerhome{
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    height: 150px;
    justify-content: space-around;
    position: sticky;
    top: 0%;  
}

.about-box{
    display: flex;
    justify-content: center;   
}

.about-box-content{
    background: rgba(255, 255, 255, 0.8); 
    margin-top: 0%;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px; 
    border:solid 20px #49BA99;
    padding: 20px;     
}

.getinvolved-info{
    display: flex;
    justify-content: center;
}

.getinvolved-info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin-top: 10%;
    color: #000000;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border:#49BA99 SOLID 20PX; 
    padding: 50px;
}

.internshipp ,.support{
    font-size: 30px;
}

.about-picture{
    display: flex;
    width: 470px;
    height: 350px;
    }

.logo ,.logo-footer{
    height: 300px;
    margin-top: 40px;
}

.anav{
    color: #FEC182;
    font-size: 30px;
    text-decoration: none;
    margin: 10px;   
}

.fa-magnifying-glass ,.fa-bars{
    color: #FEC182;
    font-size: 30px;
}

.visit-info{
    width: 900px;
    margin-top: 0%;
    color: #000000;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); 
    margin-top: 50px; 
    border: #FEC182 solid 20px;
}

.visit-box{
    display: flex;
    justify-content: center;
}

 .location ,.hours-h2 ,.h2-admission{
    color:#000000;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 7px;
    text-decoration-color: #CF8AF2;
}

.visit-h1{
    font-size: 50px;
    text-decoration: overline underline;
    text-decoration-thickness: 7px;
    text-decoration-color: #49BA99;
}

.admission-h3{
    font-size: 40px;
    color:black;
}

.p-hours ,.admission ,.adress{
    font-size: 30px;
    padding-right: 30px;
    padding-right: 30px;
}

.admission{
    padding-left: 100px;
    padding-right: 100px;
}

.about-h1{
    display: flex;
    font-size: 50px;
    text-decoration: underline overline;
    text-decoration-thickness: 7px;
    text-decoration-color:#CF8AF2;
}

.about-p{
    font-size: 30px;
    color:#000000 white;
    padding: 20px;
}

header{
    position:relative;
}
    
nav{
    position: absolute;
}
nav a{
  display: block;

}
nav, #menu-checkbox {
 display: none;
}

#menu-checkbox:checked ~ nav {
   display: block;
   flex-direction: column;
   background-color:#E4E4E4;
   padding: 20px;
   font-size: 25px;  
}

.footer{
    display: flex;
    align-items: center;
    height: 170px;
    background-color: #000000;
    justify-content: space-between;
    flex-direction: row;
}

.fa-twitter ,.fa-facebook-square ,.fa-instagram{
    color:#FEC182;
    font-size: 40px;
}

.sosialicons{
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
}

.footer-li{
    color: #FEC182;
    text-decoration: none;
    font-size: 20px;
}

.subject-box {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
}

.subject-h1{
    background-color: #CF8AF2;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin-bottom: 50px;
    box-shadow: darkgray 10px 10px 10px 10px;
}

.subject-h2{
    background-color:#FC7C61;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin-bottom: 50px;
    box-shadow: darkgray 10px 10px 10px 10px;
}

.subject-h3{
    background-color:#FEC182;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin-bottom: 50px;
    box-shadow: darkgray 10px 10px 10px 10px;
}

.subject-h4{
    background-color:#49BA99;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin-bottom: 50px;
    box-shadow: darkgray 10px 10px 10px 10px;
}

.subject-picture {
    display: flex;
    width: 50%;
}

.subject-p{
    font-size: 30px;
}


 /* desktop*/
@media (min-width: 880px){
nav{
     display: block;
     position: static;
    }
 nav, header {
    display: flex;
    justify-content:center;
    align-items: center;
    position: static;}



.hamburger-icon{
    display: none;
}



.infobox{
    display: flex;
    color: #121212;
    margin-top:0%;
    font-size: 30px;
    width:900px;
    border-radius: px;
       
}
}


/*tablet*/
@media only screen and (min-width:481px) and (max-width:879px){


.logo ,.logo-footer{
    height: 200px;
       
}

.headerhome{
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    height: 150px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    
}

.hamburger-icon{
    display: inline;
    margin-left: 50px;
}
.subject-p{
    font-size: 20px;
}

.maingetinvolved{
    height: 1800px;
}
.new-home-h1{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:20px;
    right: 10px;
    font-size: 80px;

}

.news-container{
    width: 481px;
    

}

.news-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
}

.news1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:#CF8AF2 solid 10px;
    margin: 5px;
    padding: 10px;
    background-color:white;  
}
.kids-image,.teacher-img ,.researchers-img{
    width: 300px;
}
.our-exi-h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    padding: 30px;
    border-radius: 20px;
    } 
}

/*mobile*/

@media only screen and (max-width:480px){
.mainhome{
     width: cover;
     height: 350px;
     background-image: url(./Images/CANVARED_11zon-2.jpg);
     background-repeat: no-repeat;
     background-size: 100% auto;}

.logo{
    height: 150px;}
            
.headerhome{
    align-items: center;
        }
        
    .flex-container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FEC182;
}

.hamburger-icon{
    display: inline;
    margin-left: 10px;

}
.subject-p{
    font-size: 18px;
}
.fa-twitter ,.fa-facebook-square ,.fa-instagram{
    color:#FEC182;
    font-size: 20px;
}
.logo-footer{
    height:150px;
}
.footer-li{
    color: #FEC182;
    text-decoration: none;
    font-size: 15px;
}

.maingetinvolved{
    

    height: 2220px;
}
.news-section{
    display: flex;
    flex-direction: column;
   
}

.news-container{
    display: flex;  
 
}

.news1-h2{
    font-size: 40px;
}

.new-home-h1{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:20px;
    right: 50px;
    font-size: 50px;

}

.h1-index{
    font-size: 40px;
    background-color: #CF8AF2;
    padding: 20px;
}

.p-hours ,.admission ,.adress{
    font-size: 27px;
    padding-right: 30px;
    padding-right: 30px;
}

.about-picture{
    display: flex;
    width: 300px;
    height: 200px;
    }
    .about-box-content{
        margin-top: 0%;
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        align-items: center;
        background: rgba(255, 255, 255, 0.8);   
          
    }

    .about-p{
        font-size: 20px;
    
    }

    .kids-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        color:#000000;
        background-color:#FEC182;
    }
    
        

        .teacher-flex{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            color: #000000;
            background-color: #49BA99;
           
        }

        .researchers-flex{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            color: #000000;
            background-color:#FC7C61;
            
        }

        .kids-image,.teacher-img ,.researchers-img{
            width: 300px;
        }

        .our-exi-h1{
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.7);
            font-size: 20px;
            padding: 20px;
            border-radius: 20px;
            } 

        

          }
        






